#pokedexList {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: auto auto auto;
    background-color: #3B4CCA;
    padding: 0px;
}

#btnContainer {
    display: flex;
    flex-wrap: wrap;
} 

ol {
    list-style-type: none;
}

.stylePokemonListItem {
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    font-size: 5px;
    text-align: center;
    color: black;
    
}

body {
    background-color: #3B4CCA;
}

p, h1 {
    font-size: small;
    
}

img {
    width: "50"; 
    height: "60";
}

#previousBtn, #nextBtn, #favoritesBtn {
    border: 1px #FFDE00;
    border-radius: 60px;
    padding: 10px;
    margin: 5px;
    width: 100px;
    background-color: #FFDE00;
    box-shadow: 2px 3px 10px;

}

footer{
    background-color: #FF0000;
    color: white;
    padding: 8px;
    text-align: center;
}

header{
    background-color: #FF0000;
    color: white;
    padding: 8px;
    text-align: center;
}