#pokedexList {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 15px;
    grid-template-columns: auto auto auto;
    background-color: #FAE9B9;
    padding: 0px;
}

#btnContainer {
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 0px;
} 

ol {
    list-style-type: none;
}

.stylePokemonListItem {
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
    font-size: 5px;
    text-align: center;
    color: black;
    box-shadow: 2px 3px 10px;
    
}

body {
    background-color: #FAE9B9;
}

p, h1 {
    font-size: small;
    
}

img {
    width: "50"; 
    height: "60";
}

#previousBtn, #nextBtn, #favoritesBtn {
    border: 1px #7AC89E;
    border-radius: 60px;
    padding: 10px;
    margin: 5px;
    width: 107px;
    background-color: #7AC89E;
    box-shadow: 2px 3px 10px;

}

footer{
    background-color: #8D6033;
    color: white;
    padding: 8px;
    text-align: center;
}

header{
    background-color: #8D6033;
    color: white;
    padding: 8px;
    text-align: center;
}