.hikeGrid {
  display: grid;
  grid-row-gap: 10px;
  align-items: center;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main > h1 {
  text-align: center;
  background-color: indianred;
  padding: 30px;
}

.gridChild {
  padding: 0;
  margin: 1px;
  list-style-type: none;
}
.gridChild div {
  padding: 0 0.5em;
}
.gridChild > h2 {
  text-align: center;
  background-color: burlywood;
  text-decoration: none;
}

#buttonGrid {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 50px;
  grid-column-gap: 5px;
  justify-content: center;
}

.newGameBtn, .notesLink, .linkStyling {
  text-decoration: none;
  border: none;
  border-radius: 60px;
  color: white;
  outline: none;
  background-color: #E13620;
  background-image: linear-gradient(to right,#23AFCC, #E13620);
}